.container-small-card {
    width:800px ;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.small-card-img > img {
    height: 200px;
    margin-right: 20px;
    width: 240px;
    object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}


.small-card-title {
    display: flex;
    align-items: center;
    justify-content: center;
}